@use "./variables" as *;
@use "./mixins" as *;

body {
  font-family: $font-family;
  background-color: $color-black;
  color: $color-white;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
}
.container {
  width: 375px;
  margin: 0 auto;
  @include media(desktop) {
    width: 1110px;
  }
}
.title {
  font-family: $second-family;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: $color-white;
  text-align: center;
  @include media(desktop) {
    font-size: 56px;
  }
}
// .text {
//   font-weight: 400;
//   font-size: 14px;
//   color: $color-white;
//   @include media(desktop) {
//     font-size: 18px;
//   }
// }
