@use "./variables" as *;
@use "./mixins" as *;

body {
  font-family: $font-family;
  background-color: $color-black;
  color: $color-white;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
}

.container {
  min-width: 320px;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 16px;

  @include media(desktop) {
    // min-width: 1110px;
    padding: 100px 0;
  }
}

.title {
  font-family: $second-family;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: $color-white;
  text-align: center;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 56px;
    margin-bottom: 46px;
  }
}

.text {
  font-family: $font-family;
  color: $color-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;

  span {
    font-weight: 800;
  }

  @include media(desktop) {
    font-size: 20px;
  }
}
