$font-family-primary: "Mali", sans-serif;
$font-family-second: "Piedra", sans-serif;
$font-family-tertiary: "Inter", sans-serif;

// Основні кольори
$color-primary: #0f6691;
$color-secondary: #024d55;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-brown: #342829;

// Акцентні кольори
$color-button: #e7c000;
$color-heading: #f3be00;
$color-pagination: #fb8404;
$color-text: #fcfcf0;

// Допоміжні кольори
$color-background-accent: #e6dfc5;
$color-cyan-light: #57e5f9;
$color-cyan-bright: #a4f9ff;
