$font-family: "Inter", sans-serif;
// $second-family: "Oswald", sans-serif;
$second-family: "Roboto Condensed", sans-serif;
$third-family: "Roboto", sans-serif;

// Основні кольори
$color-primary: #8d43ff;
$color-white: #ffffff;
$color-black: #0d0a0f;
// $color-gray: #1c1f22;
