<!-- <section id="about" class="about-section">
  <div class="container about-container">
    <h2 class="title about-title">About the Game</h2>
    <p class="text about-text">
      Mergical invites you to a mystical island shrouded in mystery. Once a
      flourishing paradise, the island now lies under a dark spell. Using your
      merging skills and a touch of magic, revive the island and restore it to
      its former glory. Solve enchanting puzzles, awaken mythical
      creatures,<span
        >and designa magical realm filled with beauty and wonder.</span
      >
    </p>
    <img
      src="/images/about/about-heart-mob.webp"
      alt="image heart"
      class="about-heart"
    />
    <img src="/images/about/coin-1.webp" alt="image coin" class="about-coin" />
    <img
      src="/images/about/flower-pot-2.webp"
      alt="image flower pot"
      class="about-flower-pot"
    />
    <img src="/images/about/tree-3.webp" alt="image tree" class="about-tree" />
    <img
      src="/images/about/plant-4.webp"
      alt="image plant"
      class="about-plant"
    />
    <img
      src="/images/about/flower-5.webp"
      alt="image flower"
      class="about-flower"
    />
    <img src="/images/about/note-6.webp" alt="image note" class="about-note" />
  </div>
</section> -->
