<!-- <section id="faq" class="faq-section">
  <div class="container">
    <h2 class="title faq-title">FAQ</h2>
    <div class="faq-list">
      <div class="faq-item">
        <div class="faq-question">
          Is the game free to play? <span class="faq-toggle">+</span>
        </div>
        <div class="faq-answer">
          Yes, the game is free to play with optional in-app purchases for extra
          boosts and bonuses.
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          Can I play offline? <span class="faq-toggle">+</span>
        </div>
        <div class="faq-answer">
          Certain features require an internet connection, but most parts of the
          game can be played offline.
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          How do I save my progress? <span class="faq-toggle">+</span>
        </div>
        <div class="faq-answer">
          Link your account to ensure your progress is saved and synced across
          devices.
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          Are there ads in the game? <span class="faq-toggle">+</span>
        </div>
        <div class="faq-answer">
          Ads are optional and provide additional rewards when viewed.
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          How do I unlock new areas? <span class="faq-toggle">+</span>
        </div>
        <div class="faq-answer">
          Merge items and complete puzzles to unlock and restore new areas of
          the island.
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          What makes this game unique? <span class="faq-toggle">+</span>
        </div>
        <div class="faq-answer">
          Its magical atmosphere, customizable island, and mythical creatures
          create an unparalleled merging experience.
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          Are there updates and new content?
          <span class="faq-toggle">+</span>
        </div>
        <div class="faq-answer">
          Yes, the game is regularly updated with new areas, creatures, and
          challenges.
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          Can I interact with friends in the game?
          <span class="faq-toggle">+</span>
        </div>
        <div class="faq-answer">
          Absolutely! Connect with friends to share your progress and compete in
          friendly challenges.
        </div>
      </div>
    </div>
  </div>
</section> -->
