<section class="header-section">
  <div class="header-container">
    <a href="./index.html" class="logo-link">
      <picture>
        <source srcset="/images/logo-desktop.png" media="(min-width: 768px)" />
        <img src="/images/logo-phone.png" alt="logo" class="logo-img" />
      </picture>
    </a>

    <button class="burger-btn" type="button">
      <svg
        width="36"
        height="36"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5 10H35M5 20H35M5 30H35"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <nav class="header-nav">
      <button class="burger-menu-btn-close" type="button">
        <svg
          width="36"
          height="36"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.6663 31.6667L8.33301 29.3333L17.6663 20L8.33301 10.6667L10.6663 8.33333L19.9997 17.6667L29.333 8.33333L31.6663 10.6667L22.333 20L31.6663 29.3333L29.333 31.6667L19.9997 22.3333L10.6663 31.6667Z"
          />
        </svg>
      </button>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#goal" class="nav-link">Goal</a>
        </li>
        <li class="nav-item">
          <a href="#advantages" class="nav-link">Advantages</a>
        </li>
        <li class="nav-item">
          <a href="#commissions" class="nav-link">Commissions</a>
        </li>
        <li class="nav-item">
          <a href="#testimonials" class="nav-link">Testimonials</a>
        </li>
        <li class="nav-item">
          <a href="#faq" class="nav-link">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
