<!-- <section id="home" class="hero-section">
  <div class="hero-container">
    <h2 class="hero-title">Mergical - Fun Match Island Game</h2>
    <p class="hero-text">
      Unleash your magic and rebuild an enchanting island!
    </p>
    <a
      class="btn-google-play"
      href="https://play.google.com/store/apps/details?id=com.fotoable.mergetown"
      target="_blank"
    >
      <img
        class="btn-img-google-play"
        src="/images/hero/google-play.webp"
        alt="image google play"
      />
      <p class="btn-text-google-play">Download on <span>Google Play</span></p>
    </a>
    <picture>
      <source
        srcset="/images/hero/hero-girl-1200.webp"
        media="(min-width: 1200px)"
      />
      <img
        src="/images/hero/hero-girl-mob.webp"
        alt="image girl"
        class="hero-img-girl"
      />
    </picture>
    <img
      src="/images/hero/hero-arrow-1200.webp"
      alt="image arrow"
      class="hero-img-arrow"
    />
  </div>
</section> -->
