@use "./common/index" as *;

.commissions-smoke {
  display: none;

  @include media(desktop) {
    display: block;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: -163px;
    width: 1031px;
    height: 577px;
    z-index: -1;
  }
}

.title-commissions {
  span {
    display: none;

    @include media(desktop) {
      display: inline;
    }
  }
}

.commissions-list {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  overflow: hidden;
}

.commissions-item {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 3px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    background-color: #1c1f22;
    border-right: 3px solid $color-primary;
  }

  @include media(desktop) {
    gap: 32px;
  }
}

.commissions-icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;

  @include media(desktop) {
    width: 135px;
    height: 135px;
  }
}

.commissions-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.revenue-badge,
.lock-badge,
.hybrid-badge,
.crown-badge {
  font-family: $font-family;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: $color-white;
  border-radius: 30px;
  padding: 3px 12px;
  margin-bottom: 12px;

  @include media(desktop) {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
.revenue-badge {
  border: 1px solid #ffae00;
}
.lock-badge {
  border: 1px solid #2ab974;
}
.hybrid-badge {
  border: 1px solid #00e1de;
}
.crown-badge {
  border: 1px solid #8d43ff;
  width: 176px;
  @include media(desktop) {
    width: auto;
  }
}

.commissions-footer {
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid #d8940b;
  border-bottom: 1px solid #d8940b;
  padding: 16px;

  @include media(desktop) {
    margin-top: 46px;
    padding: 24px;
  }
}

.commissions-footer-text {
  font-family: $second-family;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;

  @include media(desktop) {
    font-size: 46px;
  }
}
