@use "./common/index" as *;

.cookie-popup {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  width: 343px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.6);
  animation: slideUp 0.3s ease-out;
  z-index: 9;

  @include media(desktop) {
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 24px;
    width: 440px;
    left: auto;
    right: 24px;
    bottom: 24px;
    transform: none;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.wrap-title-icon {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 14px;

  @include media(desktop) {
    margin-bottom: 12px;
  }
}
.cookie-icon {
  width: 40px;
  height: 40px;

  @include media(desktop) {
    width: 60px;
    height: 60px;
  }
}
.cookie-title {
  font-family: $second-family;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: $color-white;

  @include media(desktop) {
    font-size: 24px;
  }
}
.cookie-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: $color-white;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 15px;
    margin-bottom: 24px;
  }
}
.cookie-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media(desktop) {
    flex-direction: row;
  }
}
.btn-learn,
.btn-accept {
  font-weight: 800;
  font-size: 15px;
  padding: 13px 20px;
  width: 100%;
  border-radius: 100px;

  @include media(desktop) {
    font-size: 20px;
    padding: 18px 24px;
    width: 191px;
    height: 60px;
  }
}
