@use "./common/index" as *;

.faq-smoke {
  display: none;

  @include media(desktop) {
    display: block;
    pointer-events: none;
    position: absolute;
    left: 14px;
    top: 27px;
    width: 1176px;
    height: 659px;
    z-index: -1;
  }
}

.faq-subtitle {
  font-family: $font-family;
  font-size: 20px;
  text-align: center;
  margin-bottom: 46px;
}

.faq-list {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.faq-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px 0px;

  &:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  @include media(desktop) {
    padding: 20px 0;
  }
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0;
}

.faq-question-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: $color-white;

  @include media(desktop) {
    font-size: 20px;
  }
}

.faq-item.active .faq-question-text {
  color: $color-primary;
}

.faq-icon {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.2);
  background: #1c1f22;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;

  svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
  }

  @include media(desktop) {
    width: 36px;
    height: 36px;
  }
}

.faq-item.active .faq-icon svg {
  transform: rotate(-90deg);
}

.faq-item.active .faq-icon {
  border-color: $color-primary;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-item.active .faq-answer {
  max-height: 500px;
}

.faq-answer-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: $color-white;
  margin-top: 10px;

  @include media(desktop) {
    font-size: 16px;
    margin-top: 20px;
  }
}

.faq-button {
  font-weight: 800;
  font-size: 15px;
  border-radius: 100px;
  width: 343px;
  height: 50px;
  margin: 0 auto;

  @include media(desktop) {
    font-size: 20px;
    width: 220px;
    height: 60px;
    margin-top: 46px;
  }
}
