@use "./common/index" as *;

.advantages-smoke {
  display: none;

  @include media(desktop) {
    display: block;
    pointer-events: none;
    position: absolute;
    right: 14px;
    bottom: -260px;
    width: 1176px;
    height: 659px;
    z-index: -1;
  }
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include media(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages-item {
  border: 1px solid rgba($color-white, 0.1);
  padding: 16px;
  display: flex;
  gap: 10px;
  transition: all 0.3s ease;

  &:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  &:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  &:hover {
    border-color: $color-primary;
  }

  @include media(desktop) {
    flex-direction: column;
    padding: 24px;
    gap: 20px;

    &:first-child {
      border-top-right-radius: 0;
    }

    &:nth-child(3) {
      border-top-right-radius: 16px;
    }

    &:nth-child(4) {
      border-bottom-left-radius: 16px;
    }

    &:last-child {
      border-bottom-left-radius: 0;
    }
  }
}

.wrap-title-text {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media(desktop) {
    gap: 16px;
  }
}

.advantages-item--footer {
  flex-direction: column;
  text-align: center;
  gap: 12px;
  background-image: url(/images/advantages-bg-6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media(desktop) {
    flex-direction: column;
    padding: 52px 24px;
    gap: 20px;
  }
}

.advantages-icon {
  width: 40px;
  height: 40px;

  @include media(desktop) {
    width: 60px;
    height: 60px;
  }
}

.advantages-subtitle {
  font-family: $second-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: $color-white;

  @include media(desktop) {
    font-size: 28px;
  }
}

.advantages-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: $color-white;

  @include media(desktop) {
    font-size: 15px;
  }
}

.advantages-footer-title {
  font-family: $second-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  @include media(desktop) {
    font-size: 32px;
  }
}

.advantages-footer-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  color: $color-white;

  @include media(desktop) {
    font-size: 15px;
  }
}

.advantages-footer-subtext {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: $color-white;

  @include media(desktop) {
    font-size: 13px;
  }
}

.btn-contact {
  font-weight: 800;
  font-size: 15px;
  border-radius: 100px;
  width: 100%;
  height: 50px;
  max-width: 400px;
  margin: 0 auto;

  @include media(desktop) {
    font-size: 18px;
    padding: 18px 60px;
  }
}
