@use "./common/index" as *;

.goal-smoke {
  display: none;

  @include media(desktop) {
    display: block;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: -297px;
    width: 1031px;
    height: 577px;
    z-index: -1;
  }
}

.goal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: linear-gradient(0deg, #1c1f22 0%, rgba(28, 31, 34, 0.02) 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  padding: 24px 16px 0;

  @include media(desktop) {
    flex-direction: row;
    justify-content: start;
    gap: 0;
    padding: 40px 0px 40px 40px;
  }
}
.goal-title {
  margin-bottom: 0;
}

.goal-wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    width: 540px;
  }
}

.goal-wrapper-img {
  // width: 100%;
  @include media(desktop) {
    position: absolute;
    width: 410px;
    bottom: 0;
    right: 0;
    top: auto;
  }
}
// .goal-img {
// }
